
@font-face {
    font-family: 'Outfit';
    src: url("../fonts/Outfit-Regular.ttf");
}


body {
    margin: 0%;
    padding: 0%;
    font-family: "Outfit", sans-serif;
}


.container {
    display: flex;
    margin-inline: 100px;
    background-color: rgba(0, 0, 0, 0.13);
    height: 100vh;
}

